@import "tailwindcss";

/* Reset */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

/* Backup gegen iOS white gaps */
html {
  background: #0b1337;
}

/* MAIN APP BACKGROUND */
body.bg-app {
  min-height: 100dvh;

  background: linear-gradient(
    135deg,
    #020617 0%,
    #1e1b4b 50%,
    #0f172a 100%
  );

  color: #ededed;

  font-family: Arial, Helvetica, sans-serif;
}

/* optional: nicer text rendering */
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}